body {
    font-family: 'Courier New', Courier, monospace;
    background-size: cover;
    background-image: url("background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    color: #000000;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto); /* Adjusted to fit the number of form items */
    gap: 15px;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background-color: rgba(160, 160, 160, 0.863);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(100, 100, 100, 0.1);
}

/* Test media query */
@media (max-width: 768px) {
    .form-container {
        grid-template-columns: 1fr; /* Single column layout */
        grid-template-rows: repeat(10, auto); /* Adjust rows to fit all items */
    }

    .form-item {
        width: 100%; /* Make each item full width */
        margin-bottom: 10px; /* Add spacing between items */
    }
}

.form-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items at the start of the container */
}

.form-item label {
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-item input[type="text"] {
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 4px;
    background-color: #d4d2d2;
    line-height: normal;
    vertical-align: top;
}

.form-item.large {
    grid-column: span 2;
    align-items: center;
}

.form-item.artifacts {
    grid-column: 2;
    grid-row: span 3;
}

.form-item.artifacts textarea {
    height: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    display: flex; /* Use flexbox to align text */
    align-items: start; /* Align text to the top */
    border: 2px solid #000;
    border-radius: 4px;
    background-color: #d4d2d2;
    line-height: normal;
    vertical-align: top;
}
