body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    background-image: url(main_background.png);
    
}

.main-container {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;

    
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    padding: 10px;
    background-image: url(background.png);
    border-radius: 15px;
    margin-bottom: 3px;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.header input[type="text"] {
    margin-bottom: 20px;
    margin-top: 20px;
}

.name-input {
    margin-right: 180px; 
    margin-left: 5px;
}

.score-input {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 50px;
}

.hp-input{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.content-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.scrap-bag {
    margin-top: 0px 0;
    margin-bottom: 20px;
    margin-left: 10px;
}

.scrap-list {
    list-style-type: none;
    padding: 0;
}

.scrap-list li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.text-box-number, .text-box-count {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.dayList {
    margin-top: 0px 0;
    margin-bottom: 20px;
}

.dayList .dropdown-img {
    width: 100px;
}

.dayList .text-box {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.daylist li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
